body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  display:flex;
  flex-direction: column;
}

.left-side {
  height:100vh;
  flex:1;
  background-color: #455A64;
  text-align: center;
}

/*LEFT SIDE*/
form {
  width: 90%;
  display: inline-block;
}
h1 {
  font-size: 3.85em;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  margin-top: 200px;
}
img {
  height: 45px;
}
input {
  /*height:25px;*/
  width: 95%;
  font: 400 20px 'Open Sans', sans-serif;
  border-color: #cfd8dc;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  display: block;
  margin: 40px auto;
}
.enter-button {
  background-color: #ffc107;
  color: white;
  font: 800 20px 'Open Sans', sans-serif;
  border: 0px;
  height: 37px;
  width: 90%;
  /*margin-bottom: 20px;*/
}

.clear-button {
  background-color: #ffc107;
  color: white;
  font: 800 20px 'Open Sans', sans-serif;
  border: 0px;
  height: 37px;
  width: 90%;
  margin-top: 20px;
}

input:focus {
  outline: none !important;
  box-shadow: 0;
}
.enter-button:active {
  border: none !important;
  outline: none;
}
.enter-button:focus {
  border: none !important;
  outline: none;
}
.enter-button:hover {
  background-color: #ffd773;
  border: none;
  outline: none;
}
/*RIGHT SIDE*/
.right-side {
  height:100vh;
  flex:1;
  background-color: #cfd8dc;
  float: right;
  /*display: inline-block;*/
}
.bookmark {
  text-align:left;
  /*height: 25%;*/
  width: 90%;
  border: 2px solid #607D8B;
  margin: 5%;
  background-color: white;
}
#bookmarked-website {
  font: 800 25px 'Open Sans', sans-serif;
  color: #455A64;
  margin-left: 20px;
  margin-bottom: 10px;
}
#bookmarked-url {
  font: 400 20px 'Open Sans', sans-serif;
  color: #607D8B;
  margin-left: 20px;
  text-decoration: none;
  border-bottom: 3px solid #F2F4F4;
}
#bookmarked-url:hover {
  color: #455A64;
  font: 800 20px 'Open Sans', sans-serif;
  border-bottom-color: #FFC107;
}
.bookmark-buttons {
  font: 400 15px 'Open Sans', sans-serif;
  border: 0px;
  background-color: white;
  color: #607D8B;
  text-decoration: none;
  margin-top: 10px;
}
#read-button {
  margin-left: 15px;
  margin-bottom: 10px;
  border-bottom: 3px solid #F2F4F4;
}
#delete-button {
  float: right;
  margin-right: 10px;
  border-bottom: 3px solid #F2F4F4;
}
.bookmark-buttons:active {
  border: none;
  outline: none;
}
.bookmark-buttons:focus {
  border: none;
  outline: none;
}
.bookmark-buttons:hover {
  color: #455A64;
  font: 800 15px 'Open Sans', sans-serif;
  border-bottom: 3px solid #FFC107 !important;
  border: none;
  outline: none;
}
div {
  border: 1px solid;
  width: inherit;
  margin-left: inherit;
  border-color: #CFD8DC;
  margin-top: 10px;
}

p {
  margin-top: 20px;
  color: white;
  font: 400 15px 'Open Sans', sans-serif;
}
/*CLASS READ*/
.read {
  background-color: #F2F4F4 !important;
}

/*Media Queries for responsive design*/
@media (max-width: 700px) {
  .main {
    min-width: 33.33%;
  }
}

@media (max-width: 400px) {
  .main {
    min-width: 50%;
  }
}


@media (min-width: 700px) {
  .main {
    flex-direction: row;
  }
}
