body {
  font-family: 'Open Sans', sans-serif;
}

/*layout*/
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.left-side {
  flex: 1;
  text-align: center;
  background-color: #455A64;
}

.right-side {
  flex: 1;
  float: right;
  background-color: #cfd8dc;
}

/* content .left-side*/
h1 {
  margin-top: 125px;
  margin-bottom: 10px;
  font-size: 3.75em;
  font-weight: 800;
  color: white;
}

img {
  height: 45px;
}

form {
  display: inline-block;
  width: 90%;
}

input {
  display: block;
  width: 95%;
  margin: 40px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #cfd8dc;
  padding: 5px;
  font: 400 1.25em 'Open Sans', sans-serif;
}

input:focus {
  outline: none
}

.enter-button {
  border: none;
  height: 37px;
  width: 90%;
  background-color: #ffc107;
  font: 800 1.25em 'Open Sans', sans-serif;
  color: white;
}

.enter-button:focus {
  outline: none;
}

.enter-button:hover {
  background-color: #ffd773;
  outline: none;
}

.clear-button {
  margin-top: 20px;
  border: none;
  height: 37px;
  width: 90%;
  background-color: #ffc107;
  font: 800 1.25em 'Open Sans', sans-serif;
  color: white;
}

.clear-button:focus {
  outline: none;
}

.clear-button:hover {
  background-color: #ffd773;
  outline: none;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font: 400 1em 'Open Sans', sans-serif;
  color: white;
}

/*content .right-side*/

.bookmark {
  margin: 5%;
  border: 2px solid #607D8B;
  width: 90%;
  background-color: white;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: inherit;
  border: 1px solid;
  width: inherit;
  border-color: #CFD8DC;
}

#bookmarked-website {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 1.25em;
  font-weight: 800;
  color: #455A64;
}

#bookmarked-url {
  margin-left: 20px;
  border-bottom: 3px solid #F2F4F4;
  text-decoration: none;
  font-size: 1em;
  color: #607D8B;
}

#bookmarked-url:hover {
  border-bottom-color: #FFC107;
  font: 800 20px 'Open Sans', sans-serif;
  color: #455A64;
}

.bookmark-buttons {
  margin-top: 10px;
  border: 0px;
  background-color: inherit;
  text-decoration: none;
  font: 400 15px 'Open Sans', sans-serif;
  color: #607D8B;
}

#read-button {
  margin-bottom: 10px;
  margin-left: 15px;
  border-bottom: 3px solid #F2F4F4;
}
#delete-button {
  float: right;
  margin-right: 10px;
  border-bottom: 3px solid #F2F4F4;
}

.bookmark-buttons:focus {
  outline: none;
}

.bookmark-buttons:hover {
  border-bottom: 3px solid #FFC107 !important;
  font: 800 15px 'Open Sans', sans-serif;
  color: #455A64;
}

.read {
  background-color: #F2F4F4 !important;
}

.read-button-clicked {
  color: #F05A28 !important;
  border-bottom: none !important;
  font: 800 15px 'Open Sans', sans-serif;
}
/*Media Queries for responsive design*/
@media (max-width: 700px) {
  .main {
    min-width: 33.33%;
  }
}

@media (max-width: 450px) {

  .main {
    min-width: 50%;
    margin-top: 0;
  }

  h1 {
    font-size: 2em;
    margin-top: auto;
    padding-top: 50px;
  }

  input {
    margin: 20px auto;
  }

  img {
    height:30px;
  }
}

@media (min-width: 900px) {
  .main {
    flex-direction: row;
  }
}
